body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    color: #ffffff;
    background: url('background.jpg.JPG') no-repeat center center fixed;
background-size: cover;

}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    max-width: 750px;
    margin: 70px auto;
    padding: 30px;
    background-color: rgba(0,0,0,0.45);
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0,0,0,0.4);
    backdrop-filter: blur(6px);
}

h1, h2 {
    text-align: center;
    font-weight: 600;
    margin-top: 0;
}

p {
    line-height: 1.7;
    font-size: 1.1rem;
}

nav {
    text-align: center;
    margin-bottom: 30px;
}

nav a {
    color: #ffd6ff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.15rem;
    transition: 0.3s;
}

nav a:hover {
    color: #fff;
    text-shadow: 0 0 10px #fff;
}

.profile-pic {
    display: block;
    margin: 0 auto 20px auto;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ffffffaa;
    box-shadow: 0 0 20px rgba(255,255,255,0.5);
}
